<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index Application - jQuery EasyUI CRUD Demo</title>
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
</head>
<body>
    <div id="cc" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north'" style="height:50px"></div>
        <div data-options="region:'south',split:true" style="height:20px;"></div>
        <div data-options="region:'east',split:true" title="East" style="width:100px;"></div>
        <div data-options="region:'west',split:true" title="West" style="width:200px;">
            <ul id="tt"></ul>
        </div>
        <div data-options="region:'center',title:'Center'">
            <div id="tb" class="easyui-tabs" fit="true">
                <div title="首页" id="0" style="padding:1px;display:none;">
                    tab1
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            // 动态加载页面
            // 1、重置属性
            $("#north").layout();
            $('#north').layout('resize', {
                border: true,
            });
            // 2、动态创建
            $("#").layout('add', {
                region: 'east',
                title: '东',
                width: 200
            });
            $('#cc').layout('add', {
                region: 'west',
                title: '西：动态',
                width: 100
            });
            $('#tt').tree({
                url:'/menu/tree'
            });
            $('#tt').tree({
                onClick: function(node){
                    // alert(node.text);  // alert node text property when clicked
                    // add a new tab panel
                    var tabArray = $('#tb').tabs("tabs");
                    var count=0;
                    if(tabArray.length != 0){
                        for ( var i = 0; i < tabArray.length; i++) {
                            if (node.id == tabArray[i][0].id) {//取到tab中的id
                                count++;
                                break;
                            }
                        }
                        if(count == 0){
                            $('#tb').tabs('add',{
                                id: node.id,
                                title: node.text,
                                content:'Tab Body',
                                selected: true,
                                closable:true,
                                tools:[{
                                    iconCls:'icon-mini-refresh',
                                    handler:function(){
                                        alert('refresh this tab');
                                    }
                                }]
                            });
                        }
                    }
                }
            });
        });
        function addPanel(){
            var region = $('#region').val();
            var options = {
                region: region
            };
            if (region=='north' || region=='south'){
                options.height = 50;
            } else {
                options.width = 100;
                options.split = true;
                options.title = $('#region option:selected').text();
            }
            $('#cc').layout('add', options);
        }
        function removePanel(){
            $('#cc').layout('remove', $('#region').val());
        }
    </script>
</body>
</html>